:root {
    .related-slider {
        --swiper-navigation-sides-offset: 0px;
        --swiper-navigation-top-offset: 25%;
        --swiper-navigation-size: 52px;
        .swiper-button-prev, .swiper-button-next {
            color: black;
        }
        .swiper-button-prev:hover, .swiper-button-next:hover {
            color: white;
        }

    }
}

.swiper-pagination {
    position: relative;
    transform: translateY(-50%);
    width: unset;
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-top: 50px;
}

.swiper-pagination-bullet {
    margin: 5px 0;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #000;
    opacity: unset;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--bs-black);
    border: 0;
}